@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root{
    --purple: #8E82C9;
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    background-color: var(--purple);
    height: 85px;
    border-radius: 0 0 18px 18px;
}

.header-title{
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title h1{
    color: white;
    font-weight: 900;
}

.header-title img {
    width: 25px;
    position: fixed;
    left: 85%;
}

.header-search{
    background-color: white;
    display: flex;
    flex-direction: start;
    height: 19px;
    width: 87%;
    margin: 0;
    border-radius: 15px;
    gap: 16px;
    padding: 2px;

}

.header-search img{
    margin-left: 9px;
    width: 14px;
}

.header-search input{
    border: none;
    font-size: 10px;
}



main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img{
    width: 95%;
    border-radius: 10px;
}


.category{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.category-card{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 2%;
}

.category-card article {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.category-card img{
    width: 90%;
}

.category-card .subtitle{
    font-size: 8px;
    margin-top: 5px;
}

.card-dog{
    background-color: #0BCBFE;
}

.card-cat{
    background-color: #37DCFF;
}


.card-rabbit{
    background-color: #FDD175;
}


.row-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.title{
    font-size: 14px;
    font-weight: 9000;
}


.row-title .subtitle {
    font-size: 12px;
    opacity: 70%;
}

.recommended{
    width: 100%;
    height: 500px;
}

.recommended-card{
    height: 100%;
    width: 100%;
}

.recommended-product-card{
    width: 33%;
    height: 60%;

    background-color: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 30% 20%;
}

.recommended-product-card-img{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    width: 100%;
    background-image: url('src/food1.png');
    background-size: cover;
    background-position: center;
    background-color: blue;
}

.recommended-product-card-like{
    grid-column-start: 2;
    width: 25px;
    grid-row-start: 1;
}
.recommended-product-info{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
.recommended-product-title{
    
} 

.recommended-product-classification{
    
    width: 50%;
}

.recommended-product-price{
   
}

.recommended-product-button{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 3;

    width: 90%;
    height: 80%;
    background-color: #FFD600;
    border: none;
    border-radius: 15px;

}


/** Desktop Layout**/
@media (min-width: 768px){
  body{
    background-color: red;
  }
}