@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;800;900;1000&display=swap');

:root{
    --purple: #8E82C9;
}

body{
    font-family: 'Nunito', sans-serif;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    background-color: var(--purple);
    height: 85px;
    border-radius: 0 0 18px 18px;
}

.header-title{
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title h1{
    color: white;
    font-weight: 900;
    text-align: center;
    width: 90%;
}

.header-title img {
    width: 25px;

}

.header-search{
    background-color: white;
    display: flex;
    flex-direction: start;
    height: 19px;
    width: 87%;
    margin: 0;
    border-radius: 15px;
    gap: 16px;
    padding: 2px;
}

.header-search img{
    margin-left: 9px;
    width: 14px;
}

.header-search input{
    border: none;
    font-size: 10px;
}



main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
}


.banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img{
    width: 95%;
    border-radius: 10px;
}


.category{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.category-card{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 2%;
}

.category-card article {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.category-card img{
    width: 90%;
}

.category-card .subtitle{
    font-size: 8px;
    margin-top: 5px;
}

.card-dog{
    background-color: #0BCBFE;
}

.card-cat{
    background-color: #37DCFF;
}


.card-rabbit{
    background-color: #FDD175;
}


.row-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.title{
    font-size: 14px;
    font-weight: 9000;
}


.row-title .subtitle {
    font-size: 12px;
    opacity: 70%;
}

.recommended{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 70px;
}

.recommended-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.recommended-product-card{
    width: 42%;
    height: 300px;
    border-radius: 13px;
    overflow: hidden;
    border: solid 0.5px rgb(240, 234, 234);
    margin-bottom: 2%;

    color: rgb(68, 66, 66);
}

.recommended-product-card-header{
   
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    display: flex;

    justify-content: flex-end;
    align-items: flex-start;
}

.recommended-product-card-header svg{
    fill : #f5b1c2;
    width: 10%;
    padding: 7%;
    max-width: 23px;
}

.recommended-product-card-info{
    padding: 3% 7%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.recommended-product-title{
    font-size: 80%;
}
.recommended-product-card-classification{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
    width: 100%;
    height: 28%;
}
.recommended-product-card-classification img{
    width: 70%;
    max-width: 103px;    
}

.recommended-product-card-classification p{
    font-size: 12px;
}

.recommended-product-card-price{
    font-size: 13px;
}

.recommended-product-card-button{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 3;

    width: 90%;
    height: 10%;
    background-color: #FFD600;
    border: none;
    border-radius: 15px;
    margin-left: 5%;
    font-weight: 700;
}

.img-food-1{
    background-image: url('src/food1.png');
}

.img-food-2{
    background-image: url('src/food2.png');
}
.img-food-3{
    background-image: url('src/food3.png');
}

.img-food-4{
    background-image: url('src/food4.png');
}

footer{
    width: 100%;
    height: 70px;
    background-color: #fff;

    box-shadow: 4px 0px 15px -12px rgba(0,0,0,0.75);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.footer-icon{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 2px;

}
.footer-icon img {
    width: 25%;
    
}


/** Desktop Layout**/
@media (min-width: 768px){
  body{
    background-color: red;
  }
}