body {
    max-width: 100%;
    height: 100vh;
    color: var(--white);
    gap: 2%;
}

.header {
    padding: 20px 0;
    background-color: var(--purple);
}

.header-icon {
    font-size: 20px;
    color: var(--white);
    width: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.header-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 80%;
}

.header-title {
    font-weight: 600;
    font-size: 24px;
}

.header-quantity-product{
    width: 35px;
    height: 20px;
    background-color: var(--yellow);
    color: black;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 14px;
}






 
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
}

.product {
    width: 95%;
    height: 100%;
    border-radius: 13px;
    overflow: hidden;
    border: solid 0.5px var(--card-border);
    color:  var(--font-primary);
    display: flex;
    flex-direction: row;

}

.img-food-1{
    background-image: url('../../src/food1.png');
}

.img-food-2{
    background-image: url('../../src/food2.png');
}
.img-food-3{
    background-image: url('../../src/food3.png');
}

.img-food-4{
    background-image: url('../../src/food4.png');
}

.product-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}

.product-info {
    margin: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.product-info-header{
    display: flex;
    flex: row;
    justify-content: space-between;
}

.product-info-title {
    width: 90%;
    font-size: 14px;
    font-weight: 700;
    color: var(--font-primary);
}

.hearth-icon{
    height: 21px;
    width: 10%;
    padding: 0;
    margin-top: -2%;
}

.product-info-review {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-info-review-stars {
    height: 20px;
}

.product-info-review-quantity {
    color: var(--font-secondary);
    font-weight: 700;
    font-size: 13px;
}

.product-info-price{
    width: 100%;
}

.price {
    color: var(--font-primary);
    font-weight: 800;
    display: flex;
    font-size: 16px;
    gap: 5px;
    
}

.price p:nth-child(1) {
    font-weight: 700;
}

.product-info-quantity {
    color: var(--font-primary);
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.product-info-quantity-title {
    font-weight: 800;
}

.product-info-quantity-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 800;
    flex-wrap: wrap;
}

.product-info-quantity-buttons button {
    border-radius: 45%;
    width: 37px;
    height: 34px;
    background-color: var(--white);
    border: 2px solid var(--font-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--font-primary);
    cursor: pointer;
}

.product-info-quantity-drop{
    width: 25px;
    cursor: pointer;
   margin-top: 20px;
  
}

.footer {
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 100%;
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--yellow);
    border-radius: 20px;
    height: 55%;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    color: var(--font-primary);
    padding: 0px 20px 0 30px;
    width: 200px;
    cursor: pointer;
}

/* Desktop Layout*/
@media (min-width: 768px) {
    body {
        background-color: var(--white);
    }
    

    .product {
        display: flex;

        width:54%;
        min-height: 350px;
        padding: 10px;

        background-color: var(--white);
        
        border-radius: 20px;
    }

    .product-image {
        width: 123%;
        height: 100%;
        border-radius: 10px;
    }

    .product-info {
        display: flex;
        justify-content: center;
        margin-left: 50px;
    }

    .product-info-quantity {
        margin-top: 50px;
    }

    .more-information-content {
        min-height: 0;
    }

    .product-info-quantity-drop {

        width: 30px;
        
    }



    .hearth-icon{
        height: 82%;
        width: 5%;
        padding: 0;
        margin-top: -72px;

        max-width: none;
        min-width: 32px;
        min-height: 20px;
    }

}