@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;800;900;1000&display=swap');

body{
    gap: 10px;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 85px;
    background-color: var(--purple);
    border-radius: 0 0 18px 18px;
}

.header-desktop{
    display: none;
}

.header-title{
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title h1{
    color: var(--white);
    font-weight: 600;
    text-align: center;
    width: 90%;
    margin: 0;
    font-size: 18px;
}

.header-title img {
    width: 25px;
}

.header-search{
    background-color: var(--white);;
    display: flex;
    flex-direction: start;
    height: 19px;
    width: 87%;
    margin: 0;
    border-radius: 15px;
    gap: 16px;
    padding: 2px;
}

.header-search img{
    margin-left: 9px;
    width: 14px;
}

.header-search input{
    border: none;
    font-size: 10px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
}


.banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-desktop{
    display: none;
}
.banner img{
    width: 95%;
    border-radius: 10px;
}


.category{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.category-card{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 2%;
}

.category-card article {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.category-card img{
    width: 90%;
}

.category-card .subtitle{
    font-size: 11px;
    margin-top: 0px;
}

.category-card .title{
    margin-bottom: 0px;
}
.card-dog{
    background-color: var(--blue-dog);
}

.card-cat{
    background-color: var(--blue-cat);
}

.card-rabbit{
    background-color: var(--yellow-rabbit);
}

.category-title, 
.recommended-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.title{
    font-size: 14px;
    font-weight: 800;
}

.category-title .subtitle,
.recommended-title .subtitle {
    font-size: 12px;
    opacity: 70%;
}

.recommended{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 70px;
}

.recommended-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.recommended-product-card{
    width: 42%;
    height: 300px;
    border-radius: 13px;
    overflow: hidden;
    border: solid 0.5px var(--card-border);
    margin-bottom: 2%;

    color:  var(--font-primary);
}

.recommended-product-card-header{
   
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    display: flex;

    justify-content: flex-end;
    align-items: flex-start;
}

/* .recommended-product-card-header img{
    width: 10%;
    padding: 7%;
    max-width: 23px;
    cursor : pointer
} */

.recommended-product-card-info{
    padding: 0% 7%;
    height: 36%;
    display: flex;
    flex-direction: column;
    gap: 0%;
}

.recommended-product-title{
    font-size: 80%;
    margin-bottom: 0;
}
.recommended-product-card-classification{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
    width: 100%;
    height: 28%;
}
.recommended-product-card-classification img{
    width: 70%;
    max-width: 103px;    
}

.recommended-product-card-classification p{
    font-size: 12px;
}

.recommended-product-card-price{
    font-size: 13px;
    margin: 0;
}

.recommended-product-card-button{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 3;

    width: 90%;
    height: 10%;
    background-color: #FFD600;
    border: none;
    border-radius: 15px;
    margin-left: 5%;
    font-weight: 700;
}

.recommended-product-card-button a{
	color: inherit;
    text-decoration: none;
}


.img-food-1{
    background-image: url('../../src/food1.png');
}

.img-food-2{
    background-image: url('../../src/food2.png');
}
.img-food-3{
    background-image: url('../../src/food3.png');
}

.img-food-4{
    background-image: url('../../src/food4.png');
}

footer{
    width: 100%;
    height: 70px;
    background-color: var(--white);

    box-shadow: 4px 0px 15px -12px var(--footer-shadow);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.footer-icon{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 2px;

}
.footer-icon img {
    width: 25%;
}


/** Desktop Layout**/
@media  (min-width: 768px){

    footer{
        display: none;
    }

    header{
        background-color: var(--white);
        box-shadow:0px 0px 7px 5px var(--header-shadow) ;
        height: 99px;
        border-radius: 0;
    }

    .header-desktop{
        display: flex;
        width: 89%;
        justify-content: space-between;
    }

    .banner img{
        width: 100%;
    }

  .header-search{    
    border: solid 1px var(--search);
    height: 30px;
    width: 83%;
    }

  .header-title {
    display: none;
  }

  .header-desktop-icon {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 13px;
    width: 8%;
    gap: 5px;
  }

  .header-desktop img {
    width: 25%;
    }

    .header-desktop div:last-child img{
        width: 34%;
    }

    .header-desktop-title{
        width: 36%;
    }

    .header-desktop-title h1{
        color: var(--purple);
        font-weight: 600;
        width: 90%;
        margin: 0;
        font-size: 18px;
        text-align: inherit;
        padding-left: 11%;
    }

    .banner {
        height: 655px;
    }

    .banner img{
        display: none;
    }

    .banner-desktop{
        background-image: url('../../src/banner1.png');
        width: 100%;
        height: 100%;
        display: block;
        background-position: center;
        background-size: cover;
    }

    .recommended, .category{
        justify-content: center;
        align-items: center;
    }

    .recommended {
         margin-bottom: 0px;
    }

    .category-card{
        justify-content: center;
        gap: 11%;
    }

    .category-card article{
        width: 17%;
    }

    .category-title, .recommended-title {
        width: 88%;
    }

    .category-card .title {
        margin-bottom: 2px;
    }

    .category-card .subtitle {
        font-size: 12px;
        margin-top: 2px;
    }

    .recommended-product-card {
        width: 20%;
    }

    .recommended-product-title {
        font-size: 65%;
        margin-bottom: 0;

    }

    .recommended-product-card-price {
        font-size: 13px;
        margin: 0;
    }

    .recommended-product-card-info {
        height: 35%;
    }
}


@media  (max-width: 395px) {
    .recommended-product-card {
        height: 387px;   
    }

    .recommended-product-card-header img {
        width: 24%;
       
    }
}

@media  (max-width: 250px) {
    .recommended-product-card {
        height: 450px;   
    }

    .recommended-product-card-header img {
        width: 24%;
       
    }
}